In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Import Data
df = pd.read_csv("london_weather_MODIFIED - london_weather_MODIFIED.csv")
df.head()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0

# Convert the date column to datetime dtype.

In [3]:
df["date"] = df["date"].astype(str)

In [4]:
df["datetime"] = pd.to_datetime(df["date"])
display(df.head())
df.info()

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,datetime
0,19790101,2.0,7.0,52.0,2.3,-4.1,-7.5,0.4,101900.0,9.0,1979-01-01
1,19790102,6.0,1.7,27.0,1.6,-2.6,-7.5,0.0,102530.0,8.0,1979-01-02
2,19790103,5.0,0.0,13.0,1.3,-2.8,-7.2,0.0,102050.0,4.0,1979-01-03
3,19790104,8.0,0.0,13.0,-0.3,-2.6,-6.5,0.0,100840.0,2.0,1979-01-04
4,19790105,6.0,2.0,29.0,5.6,-0.8,-1.4,0.0,102250.0,1.0,1979-01-05

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15341 entries, 0 to 15340
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              15341 non-null  object
 1   cloud_cover       14938 non-null  float64
 2   sunshine          14957 non-null  float64
 3   global_radiation  14939 non-null  float64
 4   max_temp          14951 non-null  float64
 5   mean_temp         14922 non-null  float64
 6   min_temp          14955 non-null  float64
 7   precipitation     14951 non-null  float64
 8   pressure          14953 non-null  float64
 9   snow_depth        13589 non-null  float64
 10  datetime          15341 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 1.3+ MB

# Filter out only the required data:
- Keep only data from the year 2000 or later.
- Keep only the following features:
    - precipitation
    - mean_temp
    - min_temp
    - max_temp
    - snow_depth

In [5]:
yearfilter = df["datetime"] >= "2000-01-01"
df[yearfilter]

,date,cloud_cover,sunshine,global_radiation,max_temp,mean_temp,min_temp,precipitation,pressure,snow_depth,datetime
7670,20000101,7.0,0.4,18.0,10.8,7.0,4.9,0.0,102450.0,0.0,2000-01-01
7671,20000102,7.0,0.7,20.0,11.5,7.9,5.0,0.2,102530.0,0.0,2000-01-02
7672,20000103,8.0,0.0,13.0,9.5,9.4,7.2,6.0,101860.0,0.0,2000-01-03
7673,20000104,5.0,2.9,34.0,11.0,7.0,4.4,0.2,101480.0,0.0,2000-01-04
7674,20000105,5.0,1.3,25.0,10.8,6.4,1.9,0.8,101420.0,0.0,2000-01-05
...,...,...,...,...,...,...,...,...,...,...,...
15336,20201227,1.0,0.9,32.0,7.5,7.5,7.6,2.0,98000.0,NaN,2020-12-27
15337,20201228,7.0,3.7,38.0,3.6,1.1,-1.3,0.2,97370.0,NaN,2020-12-28
15338,20201229,7.0,0.0,21.0,4.1,2.6,1.1,0.0,98830.0,NaN,2020-12-29
15339,20201230,6.0,0.4,22.0,5.6,2.7,-0.1,0.0,100200.0,NaN,2020-12-30
15340,20201231,7.0,1.3,34.0,1.5,-0.8,-3.1,0.0,100500.0,NaN,2020-12-31

In [7]:
df = df[["precipitation", "mean_temp", "min_temp", "max_temp", "snow_depth", "datetime"]]
df.head()

   precipitation  mean_temp  min_temp  max_temp  snow_depth   datetime
0            0.4       -4.1      -7.5       2.3         9.0 1979-01-01
1            0.0       -2.6      -7.5       1.6         8.0 1979-01-02
2            0.0       -2.8      -7.2       1.3         4.0 1979-01-03
3            0.0       -2.6      -6.5      -0.3         2.0 1979-01-04
4            0.0       -0.8      -1.4       5.6         1.0 1979-01-05

# Set the date column as the index.

In [8]:
df = df.set_index("datetime")
df.head()

            precipitation  mean_temp  min_temp  max_temp  snow_depth
datetime
1979-01-01            0.4       -4.1      -7.5       2.3         9.0
1979-01-02            0.0       -2.6      -7.5       1.6         8.0
1979-01-03            0.0       -2.8      -7.2       1.3         4.0
1979-01-04            0.0       -2.6      -6.5      -0.3         2.0
1979-01-05            0.0       -0.8      -1.4       5.6         1.0